<% @page_title = 'Browse our Collections — Complete Food' %>

<% content_for :head do %>
  <% description = 'Are you looking for the cheapest, most expensive or maybe a lactose free complete food ? There is a collection for you.' %>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= @page_title %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= image_url('meta/collections.png') %>" />
<% end %>

<% cache digest("#{@browse_collections.cache_key}/index") do %>
  <div class="hero hero--collections">
    <h1 class="hero__title">
      Collections
    </h1>
  </div>
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--80-at-wide">
      <div class="collection-summary">
        <div class="grid grid--center">
          <% @browse_collections.collections.each do |collection| %>
            <div class="grid__cell grid__cell--50 grid__cell--33-at-medium grid__cell--25-at-wide collection-summary__item">
              <a href="<%= collection_path(collection.slug) %>">
                <div class="collection-summary__item-cover" style="background-image: url('<%= asset_path(collection.image) %>'">
                  <div class="collection-summary__item-title"><%= collection.name %></div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
