<% content_for :meta_title, "#{DEFAULT_META['title']} - Made in #{@country.name}" %>
<% content_for :meta_description, @view_model.meta_description %>

<div class="hero hero--collection">
  <h1 class="hero__title">
    Soylent Alternatives <br/>Made In <%= @country.name %>
    <span class="hero__icon"><%= flag_icon(@country.code.downcase.to_sym) %></span>
  </h1>

  <h2 class="hero__subtitle hero__subtitle--with-action">
    <%= @view_model.description %> <br/>
  </h2>

  <%= render 'explore_more' %>
</div>

<%= render 'products', products: @products %>
