<div class="hero hero--collection">
  <h1 class="hero__title">
    <%= @collection.name %>
  </h1>

  <h2 class="hero__subtitle">
    <%= @collection.description %>
  </h2>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--80-at-wide">
    <div class="grid grid--center">
      <div class="grid__cell grid__cell--25">
        <%= render 'wizard/card' %>
      </div>
      <div class="grid__cell grid__cell--75">
        <%= render partial: 'products/item', collection: @products, as: :product %>
        <%= will_paginate(@products) %>
      </div>
    </div>
  </div>
</div>
