<% content_for :meta_title, "#{@collection.name} — #{DEFAULT_META['site_name']}" %>
<% content_for :meta_description, @collection.meta_description %>
<% content_for :meta_image, @collection.meta_image %>

<% cache [(params[:page] || 0), @collection.name, current_currency.id] do %>
  <div class="hero hero--collection">
    <h1 class="hero__title">
      <%= @collection.name %>
    </h1>

    <h2 class="hero__subtitle">
      <%= @collection.description %>
    </h2>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell grid__cell--90-at-wide">
      <div class="grid grid--center">
        <div class="grid__cell grid__cell--25-at-x-wide">
          <%= render 'gurus/card' %>
        </div>
        <div class="grid__cell grid__cell--75-at-x-wide">
          <% @products.each_with_index do |product, index| %>
            <%= render 'products/item_per_serving', product: product %>
            <%= render 'sponsors/sponsor', product_counter: index %>
          <% end %>
          <%= will_paginate(@products) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
