<% @page_title = "#{@collection.name} — Complete Food" %>

<% content_for :head do %>
  <meta name="description" content="<%= @collection.meta_description %>">
  <meta property="og:title" content="<%= @page_title %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= @collection.meta_description %>">
  <meta property="og:image" content="<%= image_url(@collection.meta_image) %>" />
<% end %>

<% cache digest("#{@collection.cache_key}/show") do %>
  <div class="hero hero--collection">
    <h1 class="hero__title">
      <%= @collection.name %>
    </h1>

    <h2 class="hero__subtitle">
      <%= @collection.description %>
    </h2>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell grid__cell--90-at-wide">
      <div class="grid grid--center">
        <div class="grid__cell grid__cell--25-at-x-wide">
          <%= render 'gurus/card' %>
        </div>
        <div class="grid__cell grid__cell--75-at-x-wide">
          <% @products.each_with_index do |product, index| %>
            <%= render 'products/item', product: product %>
            <%= render 'sponsors/sponsor', product_counter: index %>
          <% end %>
          <%= will_paginate(@products) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
