<nav class="drawer-nav" role="navigation">

  <div class="filters" data-controller="finder">

    <div class="filters__group">
      <div class="filters__group-label">Type</div>

      <div class="filters__items filters__items--two-per-row">
        <%= render 'drawer_finder/filter', property: 'powder', name: 'Powder', emoji: 'flour' %>
        <%= render 'drawer_finder/filter', property: 'bottle', name: 'Bottle', emoji: 'bottle' %>
        <%= render 'drawer_finder/filter', property: 'snack', name: 'Snack', emoji: 'energy-bar' %>
      </div>
    </div>

    <div class="filters__group">
      <div class="filters__group-label">Diet</div>

      <div class="filters__items filters__items--two-per-row">
        <%= render 'drawer_finder/filter', property: 'vegetarian', name: 'Vegetarian', emoji: 'watermelon' %>
        <%= render 'drawer_finder/filter', property: 'vegan', name: 'Vegan', emoji: 'plant' %>
        <%= render 'drawer_finder/filter', property: 'gluten_free', name: 'Gluten Free', emoji: 'corn' %>
        <%= render 'drawer_finder/filter', property: 'lactose_free', name: 'Lactose Free', emoji: 'baby-bottle' %>
      </div>
    </div>

    <div class="filters__group">
      <div class="filters__group-label">Shipping</div>

      <div class="filters__items filters__items--two-per-row">
        <%= render 'drawer_finder/filter', property: 'united_states', name: 'United States', emoji: 'usa' %>
        <%= render 'drawer_finder/filter', property: 'canada', name: 'Canada', emoji: 'canada' %>
        <%= render 'drawer_finder/filter', property: 'europe', name: 'Europe', emoji: 'europe' %>
        <%= render 'drawer_finder/filter', property: 'rest_of_world', name: 'Rest of the world', emoji: 'world' %>
      </div>
    </div>

    <div class="filters__group">
      <div class="filters__group-label">Misc</div>

      <div class="filters__items filters__items--one-per-row">
        <%= render 'drawer_finder/filter', property: 'subscription_available', name: 'Subscription Available', emoji: 'box' %>
        <%= render 'drawer_finder/filter', property: 'discount_for_subscription', name: 'Discount For Subscription', emoji: 'money' %>
      </div>
    </div>

    <div class="filters__group">
      <div class="filters__group-label">Made In</div>
      <div class="filters__items">
        <%= render 'drawer_finder/select_made_in' %>
      </div>
    </div>

    <div class="filters__group">
      <div class="filters__group-label">Sort By</div>
      <div class="filters__items">
        <%= render 'drawer_finder/select_sort' %>
      </div>
    </div>

    <div class="filters__group">
      <div class="filters__group-label">Narrow By</div>
      <div class="filters__items">
        <%= render 'drawer_finder/select_narrow' %>
      </div>
    </div>

    <div data-controller="toggleDrawerFinder">
      <a data-action="toggleDrawerFinder#onClickButton" href="#" class="button button--show-results-filters">
        Show Results
      </a>
    </div>

  </div>
</nav>
