<ul class="product-show__attributes">
  <li class="product-show__attribute <%= 'product-show__attribute--unavailable' unless product.subscription_available? %>">
    <div class="product-show__attribute-icon">
      <%= inline_svg('package.svg', class: 'icon') %>
    </div>
    <div class="product-show__attribute-label">
      Subscription Available
    </div>
    <div class="product-show__attribute-value">
      <%= humanize_boolean(product.subscription_available?) %>
    </div>
  </li>
  <li class="product-show__attribute <%= 'product-show__attribute--unavailable' unless product.discount_for_subscription? %>">
    <div class="product-show__attribute-icon">
      <%= inline_svg('discount.svg', class: 'icon') %>
    </div>
    <div class="product-show__attribute-label">
      Discount for subscription
    </div>
    <div class="product-show__attribute-value">
      <%= humanize_boolean(product.discount_for_subscription?) %>
    </div>
  </li>
</ul>
