<table class="table">
  <tr>
    <th></th>
    <th>Per 100Kcal</th>
    <th>Per Serving (<%= product.kcal_per_serving %> kcal)</th>
  </tr>
  <tr>
    <td>Protein</td>
    <td><%= product.protein_per_kcal(100) %></td>
    <td><%= product.protein_per_serving %></td>
  </tr>
  <tr>
    <td>Carbs</td>
    <td><%= product.carbs_per_kcal(100) %></td>
    <td><%= product.carbs_per_serving %></td>
  </tr>
  <tr>
    <td>Fat</td>
    <td><%= product.fat_per_kcal(100) %></td>
    <td><%= product.fat_per_serving %></td>
  </tr>
</table>
