<table class="table">
  <tr>
    <th></th>
    <th>Bulk Order</th>
    <th>Minimum Order</th>
  </tr>
  <tr>
    <td>Per Serving</td>
    <td><%= from_usd_to_current_currency(product.price.per_serving_bulk_order_in_currency('USD')) %></td>
    <td><%= from_usd_to_current_currency(product.price.per_serving_minimum_order_in_currency('USD')) %></td>
  </tr>
  <tr>
    <td>Per Day</td>
    <td><%= from_usd_to_current_currency(product.price.per_day_bulk_order_in_currency('USD')) %></td>
    <td><%= from_usd_to_current_currency(product.price.per_day_minimum_order_in_currency('USD')) %></td>
  </tr>
  <tr>
    <td>Per Month</td>
    <td><%= from_usd_to_current_currency(product.price.per_month_bulk_order_in_currency('USD')) %></td>
    <td><%= from_usd_to_current_currency(product.price.per_month_minimum_order_in_currency('USD')) %></td>
  </tr>
</table>

<div class="alert alert--small"><strong>Note:</strong> The prices shown above don't include any shipping cost nor discount (yet!).</div>
