<% content_for :note, 'Note: This question will be improved to be more precise.' %>

<%= render layout: 'step', locals: { step: @guru_step } do %>

  <%= form_tag location_create_guru_path, method: 'post' do %>
    <div class="heading heading--4 guru__question">
      Where do you live?
    </div>

    <div class="guru__choices">
      <div class="grid">
        <div class="grid__cell grid__cell--50">
          <%= guru_radio_button_tag(
            key: :country,
            label: 'United States',
            icon: 'united_states',
            value: :united_states,
            checked: @guru_step.checked_for?(:country, :united_states)
            ) %>
        </div>
        <div class="grid__cell grid__cell--50">
          <%= guru_radio_button_tag(
            key: :country,
            label: 'Canada',
            icon: 'canada',
            value: :canada,
            checked: @guru_step.checked_for?(:country, :canada)
            ) %>
        </div>
        <div class="grid__cell grid__cell--50">
          <%= guru_radio_button_tag(
            key: :country,
            label: 'Europe',
            icon: 'europe',
            value: :europe,
            checked: @guru_step.checked_for?(:country, :europe)
            ) %>
        </div>
        <div class="grid__cell grid__cell--50">
          <%= guru_radio_button_tag(
            key: :country,
            label: 'Other',
            icon: 'world',
            value: :other,
            checked: @guru_step.checked_for?(:country, :other)
            ) %>
        </div>
      </div>
    </div>

    <%= render 'gurus/footer', step: @guru_step %>
  <% end %>
<% end %>
