<div class="container">
  <h1 class="mb-3 mt-3">Product Reviews <span class="text-muted">(<%= @reviews.size %>)</span></h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Score</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>

      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.id %></th>
          <td><%= link_to review.product.name, dashboard_product_path(review.product) %></td>
          <td><%= review.score_humanized %></td>
          <td>

            <% if review.description.present? %>
              <%= simple_format(review.description) %>
            <% else %>
              <em>No justification given.</em>
            <% end %>

          </td>
          <td><%= time_ago_in_words(review.created_at) %> ago</td>
          <td><%= link_to 'Delete', dashboard_product_review_path(review.model), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>

</div>
