<div id="dropdown-currencies" class="currencies">
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--70">
      <div class="currencies__title">Select your currency</div>
      <ul class="currencies__list">
        <% Currency.popular.each do |currency| %>
          <li class="currencies__item">
            <%= link_to currency_path(currency.code), { method: :put, class: currency_selected_class(currency, current_currency) } do %>
              <span class="currencies__item-name"><%= currency.name %></span>
              <span class="currencies__item-code"><%= currency.code %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="header">
  <div class="grid grid--center grid--middle">
    <div class="grid__cell grid__cell--30">
      <a href="<%= root_path %>" class="logo">
        <%= image_tag 'kiwi.png', class: 'logo__image' %>
        <span class="logo__soylent">
          Soylent
        </span>
        <span class="logo__alternatives">
          Alternatives
        </span>
      </a>
    </div>
    <div class="grid__cell grid__cell--70">
      <div class="navigation">
        <div class="navigation__header">
          <ul class="navigation__list">
            <li class="navigation__list-item navigation__list-item--currency">
              <a data-controller="dropdownCurrencies" data-action="click->dropdownCurrencies#onClickPickCurrency" href="#" class="navigation__list-item-link">
                <%= image_tag 'coin.png', class: 'navigation__currency-icon' %>
                <span class="navigation__currency-label">Currency: <%= current_currency.code %></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
