<div data-controller="header-menu" class="header clearfix">
  <div class="header__logo">
    <%= link_to root_path, class: 'link' do %>
      CompleteFood<span class="header__logo-guru">.guru</span>
    <% end %>
  </div>

  <div data-action="click->header-menu#onClickMenu" class="header__menu">
    <%= inline_svg('menu.svg', class: 'icon') %>
  </div>

  <div data-target="header-menu.links" class="header__links">
    <%= link_to 'Collections', collections_path, class: 'header__link' %>
    <%= link_to 'Brands', brands_path, class: 'header__link' %>
    <%= link_to 'Explore all Products', products_path, class: 'header__link header__link--highlight' %>
  </div>

  <div data-target="header-menu.currency" class="header__currency">
    <span class="header__currency-label">Currency:
      <%= link_to current_currency.code, currencies_path, class: 'link', data: { controller: 'modal-button' } %>
    </span>
  </div>
</div>
