<select data-controller="<%= type %>" name="<%= type %>_by">
  <% @sorters.group_by { |sorter| sorter[:group] }.each do |group| %>
    <optgroup label="<%= group.first.to_s.capitalize %>">

      <% group.last.each do |sorter| %>
        <option value="<%= sorter[:value] %>"><%= sorter[:label] %></option>
      <% end %>

    </optgroup>

  <% end %>
</select>
