<div id="drawer-finder" class="drawer drawer--left">

  <nav class="drawer-nav" role="navigation">

    <div class="filters" data-controller="finder">

      <div class="filters__group">
        <div class="filters__group-label">Diet</div>

        <div class="filters__items filters__items--two-per-row">
          <%= render 'filter', property: 'vegetarian', property_checked: false, name: 'Vegetarian', emoji: 'watermelon' %>
          <%= render 'filter', property: 'vegan', property_checked: false, name: 'Vegan', emoji: 'plant' %>
          <%= render 'filter', property: 'gluten_free', property_checked: false, name: 'Gluten Free', emoji: 'corn' %>
          <%= render 'filter', property: 'lactose_free', property_checked: false, name: 'Lactose Free', emoji: 'baby-bottle' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Shipping</div>

        <div class="filters__items filters__items--two-per-row">
          <%= render 'filter', property: 'united_states', property_checked: false, name: 'United States', emoji: 'usa' %>
          <%= render 'filter', property: 'canada', property_checked: false, name: 'Canada', emoji: 'canada' %>
          <%= render 'filter', property: 'europe', property_checked: false, name: 'Europe', emoji: 'europe' %>
          <%= render 'filter', property: 'rest_of_world', property_checked: false, name: 'Rest of the world', emoji: 'world' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Misc</div>

        <div class="filters__items filters__items--one-per-row">
          <%= render 'filter', property: 'subscription_available', property_checked: false, name: 'Subscription Available', emoji: 'box' %>
          <%= render 'filter', property: 'discount_for_subscription', property_checked: false, name: 'Discount For Subscription', emoji: 'money' %>
          <%= render 'filter', property: 'shaker_free_first_order', property_checked: false, name: 'Shaker Free First Order', emoji: 'gift' %>
          <%= render 'filter', property: 'sample', property_checked: false, name: 'Sample pack available', emoji: 'sample' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Sort By</div>
        <div class="filters__items">
          <%= render 'select', type: 'sort' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Narrow By</div>
        <div class="filters__items">
          <%= render 'select', type: 'narrow' %>
        </div>
      </div>

      <div data-controller="toggleDrawerFinder">
        <a data-action="toggleDrawerFinder#onClickButton" href="#" class="button button--show-results-filters">
          Show Results
        </a>
      </div>

    </div>
  </nav>


  <main id="page-layout">

    <%= render 'shared/header' %>

    <div class="layout">
      <div class="hero">
        <h1 class="hero__title">Find your next Soylent.</h1>
        <h2 class="hero__subtitle">Discover the best Soylent alternatives based on the protein ratio, shipping, pricing per month and other metrics.</h2>
      </div>

      <div class="grid grid--center">
        <div class="grid__cell grid__cell--90 grid__cell--100-at-medium">
          <div class="grid grid--center">
            <div class="grid__cell grid__cell--90-at-medium grid__cell--70-at-wide">
              <div data-controller="toggleDrawerFinder">
                <a data-action="toggleDrawerFinder#onClickButton" class="button button--filters">Open Filters and Sort</a>
              </div>

              <div data-controller="productList" data-target="productList.container" class="product-list">
                <%= render partial: 'products/item', collection: @products, as: :product %>
              </div>

            </div>

          </div>
        </div>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </main>

</div>
