<% content_for :meta_title, "#{DEFAULT_META['title']} - We Help you Find your Next Soylent" %>

<div class="hero hero--home">
  <h1 class="hero__title">Find your Soylent Alternative.</h1>
  <h2 class="hero__subtitle">Discover the best Soylent Alternatives based on price, diet, protein ratio, fat ratio, country of production and much more!</h2>
</div>

<div data-controller="browse-collections" class="collections">
  <div class="grid grid--center">
    <% Rails.configuration.collections.each_slice(4).with_index do |collections, index| %>

      <% collections.each do |collection| %>
        <div class="grid__cell grid__cell--50 grid__cell--33-at-medium grid__cell--25-at-wide collections__item collections__item--row-<%= index %>"">
          <a href="<%= collection[:route] %>">
            <div class="collections__cover" style="background-image: url('<%= asset_path(collection[:cover]) %>')">
              <div class="collections__title"><%= collection[:name] %></div>
            </div>
          </a>
        </div>
      <% end %>

    <% end %>
  </div>

  <div class="collections__actions">
    <a data-target="browse-collections.browseMore" data-action="click->browse-collections#onClickBrowseMore" class="button button--primary button--large collections__action">Browse more collections ↓</a>
    <span data-target="browse-collections.divider" class="collections__action-divider">OR</span>
    <%= link_to 'Explore all products →', products_path, class: 'button button--primary button--large collections__action' %>
  </div>

  <%= render 'shared/newsletter', content: 'Send me a message when a new collection is added' %>
</div>
