<component-folio v-cloak inline-template
    prop-currency="<%= @folio.currency.to_json %>"
>
    <div class="folio">
        <div class="folio__total">{{currency.symbol}}{{humanizePrice | formatCurrency}}</div>
        <div class="folio__title">Total value of your folio</div>
    </div>
</component-folio>

<div class="grid grid--center">
    <div class="grid__cell grid__cell--80">
        <div class="coins">
            <div class="grid grid--left">

                <% @folio.folio_crypto_currencies.each do |folio_crypto_currency| %>
                    <component-crypto-currency v-cloak inline-template
                        prop-crypto-currency="<%= folio_crypto_currency.crypto_currency.to_json %>"
                        prop-folio-crypto-currency="<%= folio_crypto_currency.to_json %>"
                        prop-folio-currency="<%= folio_crypto_currency.folio.currency.to_json %>"
                    >
                        <div class="grid__cell grid__cell--25">
                            <div class="coins__item">
                                <div class="coins__item-name">
                                    <span class="coins__item-name-name">{{cryptoCurrency.name}}</span>
                                    <span class="coins__item-name-symbol">{{cryptoCurrency.symbol}}</span>
                                </div>
                                <div v-bind:class="{ 'coins__item-price': true, 'coins__item-price--up': isPriceUp, 'coins__item-price--down': isPriceDown }">
                                    {{folioCurrency.symbol}}{{priceHolding | formatCurrency}}
                                </div>
                                <div class="coins__item-hold">
                                    Holding: <input v-on:change="onChangeHolding" v-model="folioCryptoCurrency.holding" :value="folioCryptoCurrency.holding" type="number" class="coins__item-hold-input" min="0">
                                </div>
                                <div class="coins__item-unit">
                                    <br/>
                                    1 {{cryptoCurrency.symbol}} = {{folioCurrency.symbol}}{{cryptoCurrency.price | formatCurrency}}
                                </div>
                                <div class="coins__item-arrow">
                                </div>
                                <div class="coins__item-actions">
                                    <component-crypto-currency-actions inline-template>
                                        <%= form_tag(folio_crypto_currency_path(folio_crypto_currency.id), method: 'delete') %>
                                            <button type="submit" v-on:click="onClickDelete($event)" class="button button--danger">{{textDelete}}</button>
                                        </form>
                                    </button>
                                </div>
                                <div class="coins__item-stats">

                                    <div class="grid grid--center">
                                        <div class="grid__cell grid__cell--50">
                                            <div class="coins__item-stats-stat coins__item-stats-stat--low">
                                                <span>Low 24h</span>
                                                <span>{{folioCurrency.symbol}}{{priceHoldingLow24Hours | formatCurrency}}</span>
                                            </div>
                                        </div>

                                        <div class="grid__cell grid__cell--50">
                                            <div class="coins__item-stats-stat coins__item-stats-stat--high">
                                                <span>High 24h</span>
                                                <span>{{folioCurrency.symbol}}{{priceHoldingHigh24Hours | formatCurrency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </component-crypto-currency>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="grid grid--center">
    <div class="grid__cell grid__cell--80">
        <div class="grid grid--center">
            <div class="grid__cell grid__cell--50">
                <div class="coin-add">
                    <component-crypto-currency-add v-cloak inline-template
                        prop-crypto-currencies="<%= @crypto_currencies.to_json %>"
                    >
                        <%= form_tag(controller:  'folio_crypto_currency', action: 'create') %>

                            <div class="coins-add__center">
                                <component-select v-model="selected" :options="options" class="coins-add__select"></component-select>

                                <input type="hidden" name="crypto_currency_id" :value="selected.value"/>
                                <button type="submit" class="button button--primary">Add Asset</button>
                            </div>
                        </form>
                    </component-crypto-currency-add>
                </div>
            </div>

            <div class="grid__cell grid__cell--50">
                <div class="folio-save">
                    <component-folio-save v-cloak inline-template
                        current-user="<%= @user.to_json %>"
                    >
                        <div class="folio-save__center">

                            <div v-if="shouldRenderSubscribe">
                                <%= form_tag(controller: 'user_subscribe', action: 'create') %>
                                    <p class="folio-save__description">Don't forget to save your folio!</p>

                                    <div class="folio-save__inputs">
                                        <input type="text" class="folio-save__input" name="email" placeholder="Email" />
                                        <input type="password" class="folio-save__input" name="password" placeholder="Password"  />
                                    </div>

                                    <button type="submit" class="button button--primary">Save Folio</button>
                                </form>
                            </div>

                            <div v-if="shouldRenderConnect">
                                <%= form_tag(controller: 'user_connect', action: 'create') %>
                                    <p class="folio-save__description">Log in to see your folio</p>
                                    <div class="folio-save__inputs">
                                        <input type="text" class="folio-save__input" name="email" placeholder="Email" />
                                        <input type="password" class="folio-save__input" name="password" placeholder="Password"  />
                                    </div>

                                    <button type="submit" class="button button--primary">Log In</button>
                                </form>
                            </div>

                            <div v-if="isUser">
                                <%= form_tag(controller: 'user_disconnect', action: 'create') %>
                                    <button type="submit" class="button button--large button--warning">Log out</button>
                                </form>
                            </div>

                            <div v-if="isAnonymous">
                                <a class="folio-save__link" v-on:click="onClickHaveAFolio">{{textHaveAFolio}}</a>
                            </div>

                        </div>
                    </component-folio-save>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer__moon">
        <%= image_tag('moon.png', class: 'footer__moon-picture') %>
    </div>

    <div class="footer__stats">
        <%= pluralize(@count_users, 'astronaut') %> hodling to the moon
    </div>

    <div class="footer__email">
        For any suggestions, feel free to reach us at <a href="mailto:contact.moonbeat@gmail.com">contact.moonbeat@gmail.com</a>.
    </div>
</div>
