<div id="drawer-finder" class="drawer drawer--left">

  <nav class="drawer-nav" role="navigation">

    <div class="filters" data-controller="finder">

      <div class="filters__group">
        <div class="filters__group-label">Type</div>

        <div class="filters__items filters__items--two-per-row">
          <%= render 'filter', property: 'powder', name: 'Powder', emoji: 'flour' %>
          <%= render 'filter', property: 'bottle', name: 'Bottle', emoji: 'bottle' %>
          <%= render 'filter', property: 'snack', name: 'Snack', emoji: 'energy-bar' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Diet</div>

        <div class="filters__items filters__items--two-per-row">
          <%= render 'filter', property: 'vegetarian', name: 'Vegetarian', emoji: 'watermelon' %>
          <%= render 'filter', property: 'vegan', name: 'Vegan', emoji: 'plant' %>
          <%= render 'filter', property: 'gluten_free', name: 'Gluten Free', emoji: 'corn' %>
          <%= render 'filter', property: 'lactose_free', name: 'Lactose Free', emoji: 'baby-bottle' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Shipping</div>

        <div class="filters__items filters__items--two-per-row">
          <%= render 'filter', property: 'united_states', name: 'United States', emoji: 'usa' %>
          <%= render 'filter', property: 'canada', name: 'Canada', emoji: 'canada' %>
          <%= render 'filter', property: 'europe', name: 'Europe', emoji: 'europe' %>
          <%= render 'filter', property: 'rest_of_world', name: 'Rest of the world', emoji: 'world' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Misc</div>

        <div class="filters__items filters__items--one-per-row">
          <%= render 'filter', property: 'subscription_available', name: 'Subscription Available', emoji: 'box' %>
          <%= render 'filter', property: 'discount_for_subscription', name: 'Discount For Subscription', emoji: 'money' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Sort By</div>
        <div class="filters__items">
          <%= render 'select', type: 'sort' %>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__group-label">Narrow By</div>
        <div class="filters__items">
          <%= render 'select', type: 'narrow' %>
        </div>
      </div>

      <div data-controller="toggleDrawerFinder">
        <a data-action="toggleDrawerFinder#onClickButton" href="#" class="button button--show-results-filters">
          Show Results
        </a>
      </div>

    </div>
  </nav>


  <main id="page-layout">

    <%= render 'shared/header' %>

    <div class="layout">
      <div class="hero">
        <h1 class="hero__title">Find your next Soylent.</h1>
        <h2 class="hero__subtitle">Discover the best Soylent alternatives based on the protein ratio, shipping, pricing per month and other metrics.</h2>
      </div>

      <% unless cookies[:signed_up_newsletter].present? %>
        <div class="grid grid--center">
          <div class="grid__cell grid__cell--90 grid__cell--70-at-wide">
            <div data-controller="newsletter" data-target="newsletter.newsletter" class="newsletter">
              <form data-action="submit->newsletter#onSubmit">
                <p class="newsletter__description">Send me a message when a new product is added</p>
                <%= email_field_tag 'email', nil, placeholder: 'Email', class: 'newsletter__input', data: { target: 'newsletter.email' } %>
                <%= button_tag 'Notify me!', type: 'submit', class: 'button button--newsletter' %>
              </form>
            </div>
          </div>
        </div>
      <% end %>

      <div class="grid grid--center">
        <div class="grid__cell grid__cell--90 grid__cell--100-at-medium">
          <div class="grid grid--center">
            <div class="grid__cell grid__cell--90-at-medium grid__cell--70-at-wide">
              <div data-controller="toggleDrawerFinder">
                <a data-action="toggleDrawerFinder#onClickButton" class="button button--filters">Open Filters and Sort</a>
              </div>

              <div data-controller="productList" data-target="productList.container" class="product-list">
                <%= render 'products/items', products: @products %>
              </div>

            </div>

          </div>
        </div>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </main>

</div>
