<div class="header" style="display: none">
    <div class="header__body">

        The minimalist portfolio to track your crypto currencies
    </div>
</div>

<div class="folio">
    <div class="folio__total">$4050</div>
    <div class="folio__title">Total value of your folio</div>
    <div class="folio__updated">Updated 0 seconds ago</div>
</div>

<div class="coins">
    <div class="grid grid--left">


        <% @folio.folio_crypto_currencies.each do |folio_crypto_currency| %>
            <div class="grid__cell grid__cell--25">
                <div class="coins__item">
                    <div class="coins__item-logo">
                        <i class="crypto-icon cc <%= folio_crypto_currency.symbol %>"></i>
                    </div>
                    <div class="coins__item-name">
                        <span class="coins__item-name-symbol"><%= folio_crypto_currency.symbol %></span>
                        <span class="coins__item-name-name">(<%= CryptoCurrency.where(symbol: folio_crypto_currency.symbol).first.name %>)</span>
                    </div>
                    <div class="coins__item-price">
                        $<%= folio_crypto_currency.holding.to_f * MarketExchange.last_price(folio_crypto_currency.symbol, 'USD').to_f %>
                    </div>
                    <div class="coins__item-hold">
                        Holding: <%= folio_crypto_currency.holding %>
                    </div>
                    <div class="coins__item-hold">
                        <br/>
                        1<%= folio_crypto_currency.symbol %> = <%= MarketExchange.last_price(folio_crypto_currency.symbol, 'USD').to_f %>
                    </div>
                    <div class="coins__item-arrow">
                    </div>
                    <div class="coins__item-actions">
                        <a class="button button--danger" href="#">Delete</a>
                        <a class="button button--warning">Edit</a>
                    </div>
                </div>
            </div>
        <% end %>

        <div class="grid__cell grid__cell--25">
            <div class="coins__item">
                <div class="coins__add">
                    <a class="button button--primary">Add Currency</a>
                </div>
            </div>
        </div>

    </div>
</div>
