<% content_for :meta_title, "#{DEFAULT_META['title']} - We Help you Find your Next Complete Food" %>

<div class="hero hero--home">
  <%= image_tag 'guru.svg', width: 250 %>
  <h1 class="hero__title">Find your Complete Food.</h1>
  <h2 class="hero__subtitle">There are currently <%= count_active_products %> Complete Foods available Worldwide. Choosing the best one can be overwhelming, let the Guru help you find the best based on your preferences.</h2>

  <%= link_to 'Ask the Guru', guru_path, class: 'button button--large button--secondary button--capitalized button--with-arrow' %>
</div>

<div class="divider divider--secondary"></div>

<div class="collection-summary">

  <div class="grid grid--center">
    <div class="grid__cell grid__cell--80-at-wide">
      <h3 class="heading heading--1 heading--center">Browse Collections</h3>
      <hr class="divider divider--small" />

      <% @page.preview_collections.each_slice(4) do |collections| %>

        <div class="grid grid--center">
          <% collections.each do |collection| %>
            <div class="grid__cell grid__cell--50 grid__cell--33-at-medium grid__cell--25-at-wide collection-summary__item">
              <%= link_to collection_path(collection.slug) do %>
                <div class="collection-summary__item-cover" style="background-image: url('<%= asset_path(collection.image) %>')">
                  <div class="collection-summary__item-title"><%= collection.name %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="grid grid--center">
        <%= link_to 'Browse more collections', collections_path, class: 'button button--large' %>
      </div>
    </div>
  </div>
</div>

<div class="divider divider--secondary"></div>

<div class="brand-summary__parent">
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--80">
        <h3 class="heading heading--1 heading--center">Browse Brands</h3>
        <hr class="divider divider--small" />

        <div class="grid grid--center">
          <% @page.preview_brands.each do |brand| %>
            <div class="grid__cell grid__cell--25-at-wide">
              <%= link_to brand_path(brand.model), class: 'brand-summary' do %>
                <div class="brand-summary__item">
                  <span class="brand-summary__item-flag"><%= flag_icon(brand.country_code_symbol) %></span>
                  <span class="brand-summary__item-name"><%= brand.name %></span>
                </div>
              <% end %>
            </div>
          <% end %>

          <%= link_to 'Browse more brands', brands_path, class: 'button button--large' %>
        </div>

     </div>
  </div>
</div>
