<div class="container">
  <h1 class="mb-3">Edit <%= @product.name %> (#<%= @product.id %>)</h1>

  <%= form_for [:dashboard, @product] do |form| %>

    <% if @product.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="card-deck">
      <div class="card">
          <div class="card-header">
              Details
          </div>
          <div class="card-body">
            <%= image_tag @product.image.variant(resize: '400x400'), class: 'img-thumbnail' %><br/>

            <div class="form-group">
              <%= form.label :image %>
              <%= form.file_field :image, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :kcal_per_serving %>
              <%= form.text_field :kcal_per_serving, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :protein_per_serving %>
              <%= form.text_field :protein_per_serving, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :carbs_per_serving %>
              <%= form.text_field :carbs_per_serving, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :fat_per_serving %>
              <%= form.text_field :fat_per_serving, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :subscription_available %>
              <%= form.check_box :subscription_available, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :discount_for_subscription %>
              <%= form.check_box :discount_for_subscription, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :shaker_free_first_order %>
              <%= form.check_box :shaker_free_first_order, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :sample_pack_available %>
              <%= form.check_box :sample_pack_available, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :state %>
              <%= form.select :state, options_for_select(Product.states.keys.to_a, @product.state), {}, { class: 'form-control' } %>
            </div>
          </div>
      </div>
    </div>

    <div class="card-deck mt-3">
      <div class="card">
          <div class="card-header">
              Brand
          </div>
          <div class="card-body">
              <div class="form-group">
                <%= form.label :brand_id %>
                <%= form.collection_select :brand_id, Brand.all, :id, :name, { selected: @product.brand.id }, { class: 'form-control' } %>
              </div>

          </div>
      </div>

      <div class="card">
        <div class="card-header">Active</div>
        <div class="card-body">
          <div class="form-group">
            <%= form.label :active %>
            <%= form.check_box :active, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="card-deck mt-3 mb-3">
      <div class="card">
        <div class="card-header">Prices</div>
        <div class="card-body">
          <%= form.fields_for @product.price do |price_form| %>

            <div class="form-group">
              <%= price_form.label :currency_id %>
              <%= price_form.collection_select :currency_id, Currency.all, :id, :name, {}, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= price_form.label :per_serving_minimum_order %>
              <%= price_form.text_field :per_serving_minimum_order, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= price_form.label :per_serving_bulk_order %>
              <%= price_form.text_field :per_serving_bulk_order, class: 'form-control' %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Allergens</div>

        <div class="card-body">
          <p>Check the allergens present in this product</p>

          <%= form.fields_for @product.allergen do |allergen_form| %>
            <%= allergen_form.label :gluten %> <%= allergen_form.check_box :gluten %> <br/>
            <%= allergen_form.label :lactose %> <%= allergen_form.check_box :lactose %> <br/>
            <%= allergen_form.label :nut %> <%= allergen_form.check_box :nut %> <br/>
            <%= allergen_form.label :ogm %> <%= allergen_form.check_box :ogm %> <br/>
            <%= allergen_form.label :soy %> <%= allergen_form.check_box :soy %> <br/>
          <% end %>
        </div>
      </div>



      <div class="card">
        <div class="card-header">Shipment</div>
        <div class="card-body">
          <%= form.fields_for @product.shipment do |shipment_form| %>
            <%- binding.pry %>
            <%= shipment_form.label :united_states %> <%= shipment_form.check_box :united_states %> <br/>
            <%= shipment_form.label :canada %> <%= shipment_form.check_box :canada %> <br/>
            <%= shipment_form.label :europe %> <%= shipment_form.check_box :europe %> <br/>
            <%= shipment_form.label :rest_of_world %> <%= shipment_form.check_box :rest_of_world %> <br/>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Diet</div>
        <div class="card-body">
          <p>Can this product be used for the following diet (if so check the box)</p>

          <%= form.fields_for @product.diet do |diet_form| %>
            <%- binding.pry %>
            <%= diet_form.label :vegetarian %> <%= diet_form.check_box :vegetarian %> <br/>
            <%= diet_form.label :vegan %> <%= diet_form.check_box :vegan %> <br/>
            <%= diet_form.label :ketogenic %> <%= diet_form.check_box :ketogenic %> <br/>
          <% end %>
        </div>
      </div>

    </div>

    <%= form.submit 'Update Product', class: 'btn btn-primary' %>
  <% end %>
</div>
