<div class="container">
    <h1><%= @product.name %> (#<%= @product.id %>)</h1>

    <% if @product.active? %>
        <div class="alert alert-success" role="alert">
          This product is active
        </div>
    <% else %>
        <div class="alert alert-danger" role="alert">
          This product isn't active
        </div>
    <% end %>

    <div class="card-deck mb-3">
        <div class="card">
            <div class="card-header">
                Details
            </div>
            <div class="card-body">
                <%= image_tag @product.image.variant(resize: '400x400'), class: 'img-thumbnail mb-3' %>

                <br/>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Brand:</strong> <%= @product.brand.name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Name:</strong> <%= @product.name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Slug:</strong> <%= @product.slug %>
                    </li>
                    <li class="list-group-item">
                        <strong>Kcal per serving:</strong> <%= @product.kcal_per_serving %>
                    </li>
                    <li class="list-group-item">
                        <strong>Fat per serving:</strong> <%= @product.fat_per_serving %>
                    </li>
                    <li class="list-group-item">
                        <strong>Subscription Available:</strong> <%= humanize_boolean(@product.subscription_available?) %>
                    </li>
                    <li class="list-group-item">
                        <strong>Discount for subscription:</strong> <%= humanize_boolean(@product.discount_for_subscription?) %>
                    </li>
                    <li class="list-group-item">
                        <strong>Shaker free first order:</strong> <%= humanize_boolean(@product.shaker_free_first_order?) %>
                    </li>
                    <li class="list-group-item">
                        <strong>Sample Pack Available:</strong> <%= humanize_boolean(@product.sample_pack_available?) %>
                    </li>
                    <li class="list-group-item">
                        <strong>State:</strong> <%= @product.state.capitalize %>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-deck">

        <div class="card">
            <div class="card-header">
                Prices
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Currency</strong> <%= @product.price.currency.name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Per Serving minimum order:</strong> <%= @product.price.per_serving_minimum_order %>
                    </li>
                    <li class="list-group-item">
                        <strong>Per Serving bulk order:</strong> <%= @product.price.per_serving_bulk_order %>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Allergens
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Contains Gluten:</strong> <%= humanize_boolean(@product.allergen.gluten?) %></li>
                    <li class="list-group-item"><strong>Contains Lactose:</strong> <%= humanize_boolean(@product.allergen.lactose?) %></li>
                    <li class="list-group-item"><strong>Contains Nut:</strong> <%= humanize_boolean(@product.allergen.nut?) %></li>
                    <li class="list-group-item"><strong>Contains OGM:</strong> <%= humanize_boolean(@product.allergen.ogm?) %></li>
                    <li class="list-group-item"><strong>Contains Soy:</strong> <%= humanize_boolean(@product.allergen.soy?) %></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Diets
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Suitable for Vegetarian Diet:</strong> <%= humanize_boolean(@product.diet.vegetarian?) %></li>
                    <li class="list-group-item"><strong>Suitable for Vegan Diet:</strong> <%= humanize_boolean(@product.diet.vegan?) %></li>
                    <li class="list-group-item"><strong>Suitable for Ketogenic Diet:</strong> <%= humanize_boolean(@product.diet.ketogenic?) %></li>

                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Shipment
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>United States</strong> <%= humanize_boolean(@product.shipment.united_states?) %></li>
                    <li class="list-group-item"><strong>Canada:</strong> <%= humanize_boolean(@product.shipment.canada?) %></li>
                    <li class="list-group-item"><strong>Europe:</strong> <%= humanize_boolean(@product.shipment.europe?) %></li>
                    <li class="list-group-item"><strong>Rest of World:</strong> <%= humanize_boolean(@product.shipment.rest_of_world?) %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
