<% @page_title = 'Browse Brands — Complete Food' %>

<% description = "Browse through the #{@brands.count} brands such as #{Brand.first&.name}, #{Brand.second&.name} and #{Brand.third&.name} producing over #{count_active_products} complete foods worlwide." %>

<% content_for :head do %>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= @page_title %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= image_url('meta/brands.png') %>" />
<% end %>

<% cache [Brand.maximum(:updated_at), Product.maximum(:updated_at)] do %>
  <div class="brands">
    <div class="hero">
      <h1 class="hero__title">Brands</h1>
      <h2 class="hero__subtitle"><%= description %></h2>
    </div>

    <div class="grid grid--center">
      <div class="grid__cell grid__cell--70-at-wide">

        <div class="navigation-alphabet">
          <% @navigation.items.map do |item| %>
            <%= link_to(item[:letter], "##{item[:letter]}", class: item[:class_css]) %>
          <% end %>
        </div>

        <div class="grid">
            <% @brands.each do |letter, brand_collection| %>

              <div id="<%= letter.upcase %>" class="grid__cell grid__cell--100">
                <h3 class="heading heading--2 heading--upcase"><%= letter %></h3>
                <div class="divider"></div>
              </div>

              <% brand_collection.each do |brand| %>
                <div class="grid__cell grid__cell--33-at-medium grid__cell--33-at-x-wide">
                  <%= link_to brand_path(brand.model), class: 'brand-card' do %>
                    <div class="brand-card__details">
                      <div class="brand-card__details-name">
                        <span class="brand-card__details-name-flag"><%= flag_icon(brand.country_code_symbol) %></span>
                        <%= brand.name %>
                      </div>
                      <div class="brand-card__details-number-products">
                        <span><%= pluralize(brand.products.count, 'product') %></span>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>

            <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
