<% #TODO: Fix SEO here %>
<% @page_title = "Brand #{@brand.name} — Complete Food" %>

<% content_for :head do %>
  <meta name="description" content="<%= @brand.meta_description %>">
  <meta property="og:title" content="<%= @page_title %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= @brand.description %>">
  <meta property="og:image" content="<%= image_url('meta/brands.png') %>" />
<% end %>

<div class="hero hero--brand">
  <h1 class="hero__title"><%= @brand.name %></h1>
  <h2 class="hero__subtitle"><%= @brand.description %></h2>
  <div class="hero__buttons">
    <%= link_to 'Website', @brand.website, class: 'button button--no-margin button--fixed-width' if @brand.website.present? %>
    <%= link_to 'Facebook', @brand.facebook, class: 'button button--no-margin button--fixed-width' if @brand.facebook.present? %>
  </div>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--70-at-wide">
    <% @brand.active_products.each_with_index do |product, index| %>
      <%= render 'products/item', product: product %>
      <%= render 'sponsors/sponsor', product_counter: index %>
    <% end %>
  </div>
</div>
