<% cache [product, current_currency.id] do %>
  <a href="<%= product_path(product.model) %>" class="product-item">
    <div class="grid">
      <div class="grid__cell grid__cell--40-at-medium">
        <div class="product-item__heading">
          <div class="grid grid--center grid--middle">
            <div class="grid__cell grid__cell--30">
                <div class="product-item__heading-thumbnail" style="display: none" data-controller="lazy" data-lazy-src="<%= url_for(product.image) %>"></div>
                <noscript>
                  <div class="product-item__heading-thumbnail" style="background-image: url(<%= url_for(product.image) %>)"></div>
                </noscript>
            </div>
            <div class="grid__cell grid__cell--70">
              <div class="product-item__heading-name">
                <div class="product-item__heading-name-product"><%= product.name %></div>
                <div class="product-item__flag"><%= flag_icon(product.country_code_symbol) %></div>
                <div class="product-item__heading-name-brand"><%= product.brand.name %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__cell grid__cell--40-at-medium">
        <div class="product-item__list">
          <div class="grid grid--center grid--middle">
            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Kcal</span> <span class="product-item__list-value">500</span>
              </div>
            </div>

            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Protein</span> <span class="product-item__list-value"><%= product.protein_per_kcal(500) %></span>
              </div>
            </div>

            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Carbs</span> <span class="product-item__list-value"><%= product.carbs_per_kcal(500) %></span>
              </div>
            </div>

            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Fat</span> <span class="product-item__list-value"><%= product.fat_per_kcal(500) %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__cell grid__cell--20-at-medium">
        <div class="product-item__cost">
          <span class="product-item__cost-value"><%= from_usd_to(current_currency, product.price.per_kcal_in_currency(500, currency: 'USD', type: :bulk_order)) %></span>
          <span class="product-item__cost-description">per 500kcal - bulk order</span>
        </div>
      </div>
    </div>
  </a>
<% end %>
