<a href="<%= product_path(product) %>" class="product-item">
  <div class="grid">
    <div class="grid__cell grid__cell--40">
      <div class="product-item__heading">
        <div class="product-item__heading-thumbnail" style="background-image: url('<%= product.image_url %>')"></div>
        <div class="product-item__heading-name">
          <div class="product-item__heading-name-product"><%= product.name %></div>
          <div class="product-item__flag"><%= product.flag %></div>
          <div class="product-item__heading-name-brand"><%= product.brand.name %></div>
        </div>
      </div>
    </div>

    <div class="grid__cell grid__cell--40">
      <div class="grid grid--center">
        <div class="product-item__list">

          <div class="grid__cell grid__cell--20">
            <div class="cart-product__list-item">
              <span class="product-item__list-label">Kcal</span> <span class="product-item__list-value"><%= product.kcal_per_serving %></span>
            </div>
          </div>

          <div class="grid__cell grid__cell--20">
            <div class="cart-product__list-item">
              <span class="product-item__list-label">Protein</span> <span class="product-item__list-value"><%= product.protein_per_serving %></span>
            </div>
          </div>

          <div class="grid__cell grid__cell--20">
            <div class="cart-product__list-item">
              <span class="product-item__list-label">Carbs</span> <span class="product-item__list-value"><%= product.carbs_per_serving %></span>
            </div>
          </div>

          <div class="grid__cell grid__cell--20">
            <div class="cart-product__list-item">
              <span class="product-item__list-label">Fat</span> <span class="product-item__list-value"><%= product.fat_per_serving %></span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="grid__cell grid__cell--20">
      <div class="product-item__cost">
        <span class="product-item__cost-value"><%= product.estimated_cost_per_month_bulk_order_format %></span>
        <span class="product-item__cost-description">per month</span>
      </div>
    </div>
  </div>
</a>
