<% cache digest("#{product.cache_key}/item") do %>
  <a href="<%= product_path(product.model) %>" class="product-item">

    <div class="grid">
      <div class="grid__cell grid__cell--40-at-medium">
        <div class="product-item__details">
          <div class="grid grid--center grid--middle">
            <div class="grid__cell grid__cell--30">
              <div class="product-item__thumbnail" style="background-image: url('<%= url_for(product.image) %>')"></div>
            </div>
            <div class="grid__cell grid__cell--70">
              <div class="product-item__heading">
                <div class="product-item__name"><%= product.name %></div>
                <div class="product-item__brand">
                  <div class="product-item__flag"><%= flag_icon(product.country_code_symbol) %></div>
                  <div class="product-item__brand-name"><%= product.brand.name %></div>
                </div>
                <div class="product-item__type product-item__type--<%= product.type_class %>">
                  <span><%= product.type %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__cell grid__cell--40-at-medium">
        <div class="product-item__list">
          <div class="grid grid--center grid--middle">
            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label product-item__list-label--note">Per 500kcal</span>
              </div>
            </div>
            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Protein</span> <span class="product-item__list-value"><%= product.protein_per_kcal(500) %></span>
              </div>
            </div>

            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Carbs</span> <span class="product-item__list-value"><%= product.carbs_per_kcal(500) %></span>
              </div>
            </div>

            <div class="grid__cell grid__cell--20">
              <div class="product-item__list-item">
                <span class="product-item__list-label">Fat</span> <span class="product-item__list-value"><%= product.fat_per_kcal(500) %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__cell grid__cell--20-at-medium">
        <div class="product-item__cost">
          <span class="product-item__cost-value"><%= from_usd_to(current_currency, product.price.per_kcal_in_currency(500, currency: 'USD', type: :bulk_order)) %></span>
          <span class="product-item__cost-description">per 500kcal - bulk order</span>
        </div>
      </div>
    </div>
  </a>
<% end %>
