<table class="table">
  <tr>
    <th></th>
    <th>Bulk Order</th>
    <th>Minimum Order</th>
  </tr>
  <tr>
    <td>Per 100kcal</td>
    <td><%= from_usd_to current_currency, product.price.per_kcal_in_currency(100, currency: 'USD', type: :bulk_order) %></td>
    <td><%= from_usd_to current_currency, product.price.per_kcal_in_currency(100, currency: 'USD', type: :minimum_order) %></td>
  </tr>
  <tr>
    <td>Per 500kcal</td>
    <td><%= from_usd_to current_currency, product.price.per_kcal_in_currency(500, currency: 'USD', type: :bulk_order) %></td>
    <td><%= from_usd_to current_currency, product.price.per_kcal_in_currency(500, currency: 'USD', type: :minimum_order) %></td>
  </tr>
  <tr>
    <td>Per Serving (<%= product.kcal_per_serving %>kcal)</td>
    <td><%= from_usd_to current_currency, product.price.per_kcal_in_currency(product.model.kcal_per_serving, currency: 'USD', type: :bulk_order) %></td>
    <td><%= from_usd_to current_currency, product.price.per_kcal_in_currency(product.model.kcal_per_serving, currency: 'USD', type: :minimum_order) %></td>
  </tr>
  <tr>
    <td>Per Day (2000kcal)</td>
    <td><%= from_usd_to current_currency, product.price.per_day_in_currency(currency: 'USD', type: :bulk_order) %></td>
    <td><%= from_usd_to current_currency, product.price.per_day_in_currency(currency: 'USD', type: :minimum_order) %></td>
  </tr>
  <tr>
    <td>Per Month</td>
    <td><%= from_usd_to current_currency, product.price.per_month_in_currency(currency: 'USD', type: :bulk_order) %></td>
    <td><%= from_usd_to current_currency, product.price.per_month_in_currency(currency: 'USD', type: :minimum_order) %></td>
  </tr>
</table>

<div class="alert alert--small"><strong>Note:</strong> The prices shown above don't include any shipping cost nor discount (yet!).</div>
