<% content_for :meta_title, "#{DEFAULT_META['title']} - Browse all Complete Foods" %>
<% content_for :meta_description, "Browse through the #{count_active_products} Complete Foods currently available worlwide." %>

<% cache [Product.maximum(:updated_at), current_currency.id, (params[:page] || 0), params[:search]] do %>
  <div class="hero hero--products">
    <h1 class="hero__title">
      Explore all Products
    </h1>
    <h2 class="hero__subtitle">
      We currently reference <%= count_active_products %> products from <%= count_brands %> brands.
    </h2>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell grid__cell--90-at-wide">
      <div class="grid grid--center">
        <div class="grid__cell grid__cell--25-at-x-wide">
          <%= render 'gurus/card' %>
        </div>
        <div class="grid__cell grid__cell--75-at-x-wide">

          <%= form_tag products_path, method: 'get', class: 'search-form' do %>
            <%= text_field_tag 'search', params[:search], placeholder: 'Search a product, brand or country...', class: 'text-box' %>
            <%= button_tag 'Search', class: 'button button--no-margin' %>
          <% end %>

          <% if @products.empty? %>
            <div class="empty-state">
              <div class="empty-state__title heading heading--3">No Results for `<%= params[:search]&.titleize %>`</div>
              <div class="empty-state__description">
                Your search yielded no results. Check for spelling mistakes or try using a broarder search phrase.
              </div>
            </div>
          <% else %>
            <% @products.each_with_index do |product, index| %>
              <%= render 'products/item_per_serving', product: product %>
              <%= render 'sponsors/sponsor', product_counter: index %>
            <% end %>
            <%= will_paginate @products %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
