<% @page_title = 'Browse Products — Complete Food' %>

<% content_for :head do %>
  <meta name="description" content="Discover the best complete foods based on price, diet, protein ratio, fat ratio, country of production and much more!">

  <meta property="og:title" content="<%= @page_title %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="Discover the best complete foods based on price, diet, protein ratio, fat ratio, country of production and much more!">
  <meta property="og:image" content="<%= image_url('meta/products.png') %>" />
<% end %>

  <div class="hero hero--products">
    <h1 class="hero__title">
      Explore all Products
    </h1>
    <h2 class="hero__subtitle">
      We currently reference <%= count_active_products %> products from <%= count_brands %> brands.
    </h2>
  </div>

  <%= form_tag products_path, method: 'get', data: { controller: 'browse-products' } do %>
    <div class="grid grid--center">
      <div class="grid__cell grid__cell--90-at-wide">
        <div class="grid grid--center">
          <div class="grid__cell grid__cell--25-at-x-wide">
            <%= render 'products/filters' %>
          </div>
          <div class="grid__cell grid__cell--75-at-x-wide">

            <div class="search-form">
              <%= text_field_tag 'search', params[:search], placeholder: 'Search a product, brand or country...', class: 'text-box' %>
              <%= button_tag 'Search', type: 'submit', class: 'button button--no-margin' %>
            </div>

            <div class="product-results" data-target="browse-products.productResults">
              <% if @browse.products.empty? %>
                <div class="empty-state">
                  <div class="empty-state__title heading heading--3">No Products Found</div>
                  <div class="empty-state__description">
                    Your search yielded no results.
                  </div>
                </div>
              <% else %>
                <% @browse.products.each_with_index do |product, index| %>
                  <%= render 'products/item_per_serving', product: product %>
                  <%= render 'sponsors/sponsor', product_counter: index %>
                <% end %>
                <%= will_paginate @browse.products %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
