<% content_for :meta_title, "#{DEFAULT_META['title']} - Browse all Complete Foods" %>
<% content_for :meta_description, "Browse through the #{count_active_products} Complete Foods currently available worlwide." %>

<% cache [Product.maximum(:updated_at), current_currency.id, (params[:page] || 0)] do %>
  <div class="hero hero--products">
    <h1 class="hero__title">
      Explore all Products
    </h1>
    <h2 class="hero__subtitle">
      We currently reference <%= count_active_products %> products from <%= count_brands %> brands.
    </h2>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell grid__cell--90-at-wide">
      <div class="grid grid--center">
        <div class="grid__cell grid__cell--25-at-x-wide">
          <%= render 'gurus/card' %>
        </div>
        <div class="grid__cell grid__cell--75-at-x-wide">
          <% @products.each_with_index do |product, index| %>
            <%= render partial: 'products/item_per_serving', locals: { product: product } %>
            <%= render partial: 'sponsors/sponsor', locals: { product_counter: index } %>
          <% end %>
          <%= will_paginate @products %>
        </div>
      </div>
    </div>
  </div>
<% end %>
