<% cache [@product, @reviews.count, current_currency.id] do %>
  <% content_for :meta_title, "#{DEFAULT_META['title']} - #{@product.name}" %>
  <% content_for :meta_description, "#{@product.name} costs #{from_usd_to_current_currency(@product.price.per_month_bulk_order_in_currency('USD'))} per month and is manufactured by #{@brand.name} in #{@brand.country.name}." %>
  <% content_for :meta_image, @product.image_url %>

  <div class="product-show">
    <div class="grid grid--center">
      <div class="grid__cell grid__cell--90 grid__cell--70-at-medium">

        <div class="product-show__heading">
          <div class="product-show__thumbnail" style="background-image: url('<%= @product.image_url %>')"></div>
          <h1 class="product-show__title"><%= @product.name %></h1>
          <h3 class="product-show__from">Produced in <strong><%= @brand.country.name %></strong> by <strong><%= @brand.name %></strong></h3>
        </div>

        <div class="product-show__call-to">
          <a class="button button--primary button--call-to-action" target="_blank" href="<%= @product.brand.website %>">Website</a>

          <% if @product.brand.facebook.present? %>
            <a class="button button--primary button--call-to-action" target="_blank" href="<%= @product.brand.facebook %>">Facebook</a>
          <% end %>
        </div>

        <div class="product-show__card">

          <h3 class="product-show__subtitle">Prices</h3>
          <%= render 'products/show/prices', product: @product %>

          <h3 class="product-show__subtitle">Nutrition Facts per serving</h3>
          <%= render 'products/show/nutrition_facts', product: @product %>

          <h3 class="product-show__subtitle">Allergens</h3>
          <%= render 'products/show/allergens', product: @product %>

          <h3 class="product-show__subtitle">Diets</h3>
          <%= render 'products/show/diets', product: @product %>


          <h3 class="product-show__subtitle">Shipping</h3>
          <%= render 'products/show/shipping', product: @product %>

          <h3 class="product-show__subtitle">Misc</h3>
          <%= render 'products/show/misc', product: @product %>

          <% if @product.notes.present? %>
            <h3 class="product-show__subtitle">Team's Notes</h3>
            <div class="product-show__notes"><%= @product.notes %></div>
          <% end %>

          <h3 class="product-show__subtitle">Reviews</h3>
          <%= render 'products/show/reviews', reviews: @reviews, product: @product %>

      </div>
    </div>
  </div>
<% end %>
