<% @page_title = @product.browser_title %>

<% content_for :head do %>
  <meta name="description" content="<%= @product.meta_description %>">

  <meta property="og:title" content="<%= @page_title %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= @product.meta_description %>">
  <meta property="og:image" content="<%= image_url url_for(@product.image) %>" />
<% end %>

<% cache digest("#{@product.cache_key}/show") do %>
  <div class="product-details">
    <div class="grid grid--center">
      <div class="grid__cell grid__cell--80-at-wide grid__cell--70-at-x-wide">

        <div class="product-details__heading">
          <div class="product-details__thumbnail" style="background-image: url('<%= url_for(@product.image) %>')"></div>
          <h1 class="product-details__title"><%= @product.name %></h1>
          <h3 class="product-details__from">
            Produced in <%= flag_icon(@product.country_code_symbol) %><strong><%= @product.brand.country.name %></strong> by <strong><%= link_to @product.brand.name, brand_path(@product.brand.model), class: 'link link--alt' %></strong>
          </h3>
        </div>

        <div class="product-details__call-to">
          <%= link_to 'Website', @product.brand.website, class: 'button button--fixed-width button--no-margin' if @product.brand.website.present? %>
          <%= link_to 'Facebook', @product.brand.facebook, class: 'button button--fixed-width button--no-margin' if @product.brand.facebook.present? %>
        </div>

        <div class="card">
          <% if @product.description.present? %>
            <h3 class="product-details__subtitle">About</h3>
            <div class="product-details__description markdown">
              <%= @product.description %>
            </div>
          <% end %>

          <h3 class="product-details__subtitle">Prices</h3>
          <%= render 'products/prices', product: @product %>

          <h3 class="product-details__subtitle">Nutrition Facts</h3>
          <%= render 'products/nutrition_facts', product: @product %>

          <h3 class="product-details__subtitle">Shipping</h3>
          <%= render 'products/shipping', product: @product %>

          <h3 class="product-details__subtitle">Allergens</h3>
          <%= render 'products/allergens', product: @product %>

          <h3 class="product-details__subtitle">Diets</h3>
          <%= render 'products/diets', product: @product %>

          <h3 class="product-details__subtitle">Misc</h3>
          <%= render 'products/misc', product: @product %>

          <% if @product.has_notes? %>
            <h3 class="product-details__subtitle">Team's Notes</h3>
            <div class="product-details__notes"><%= @product.notes %></div>
          <% end %>

          <h3 class="product-details__subtitle">Reviews</h3>

          <div class="reviews">
            <div class="grid">
              <div class="grid__cell grid__cell--50">
                <div class="reviews__vote reviews__vote--upvote">
                  <div class="grid grid--center grid--middle">
                    <div class="grid__cell grid__cell--20">
                      <div class="reviews__vote-icon"> <%= inline_svg('upvote.svg', class: 'icon icon--large') %></div>
                    </div>
                    <div class="grid__cell grid__cell--80">
                      <div class="reviews__vote-count">Nobody</div>
                      <div class="reviews__vote-label">recommend this product yet</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__cell grid__cell--50">
                <div class="reviews__vote reviews__vote--downvote">
                  <div class="grid grid--center grid--middle">
                    <div class="grid__cell grid__cell--20">
                      <div class="reviews__vote-icon"> <%= inline_svg('downvote.svg', class: 'icon icon--large') %></div>
                    </div>
                    <div class="grid__cell grid__cell--80">
                      <div class="reviews__vote-count">Nobody</div>
                      <div class="reviews__vote-label">don't recommend this product yet</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="grid__cell">
                <fieldset class="reviews__form">
                  <legend class="reviews__form-title">Do you recommend this product?</legend>

                  <div class="reviews__form-choices">
                    <div class="grid">
                      <div class="grid__cell grid__cell--50">
                        <div class="reviews__form-choice">
                          <%= label_tag nil, class: 'reviews__form-choice' do %>
                            <%= radio_button_tag 'recommend', 'yes', nil, class: 'reviews__form-choice-radio reviews__form-choice-radio--upvote', checked: true %>
                            <div class="reviews__form-choice-content">
                              <span class="reviews__form-choice-label">Yes</span>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="grid__cell grid__cell--50">
                        <div class="reviews__form-choice">
                          <%= label_tag nil, class: 'reviews__form-choice' do %>
                            <%= radio_button_tag 'recommend', 'no', nil, class: 'reviews__form-choice-radio reviews__form-choice-radio--downvote' %>
                            <div class="reviews__form-choice-content">
                              <span class="reviews__form-choice-label">No</span>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="reviews__form-fields">
                    <%= text_area_tag 'reason', nil, class: 'text-box text-box--multi-line', placeholder: 'Please justify why do you recommend this product ...', required: true %>
                  </div>

                  <div class="reviews__form-submit">
                    <%= button_tag 'Submit my opinion', class: 'button button--capitalized' %>
                  </div>

                </fieldset>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
