<!DOCTYPE html>
<html>
  <head>
    <title>Coinbeat</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="https://file.myfontastic.com/YFYw2AyECaqxQdAbuAFgBY/icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>

  <body>

    <div id="app">
      <component-flashes inline-template
        alert="<%= flash[:alert] %>"
        notice="<%= flash[:notice] %>"
        error="<%= flash[:success] %>"
      >
      </component-flashes>

      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application' %>

</html>
