<!DOCTYPE html>
<html>
  <head>
    <title>Moonbeat - The minimalist portfolio to track your crypto currencies.</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="https://file.myfontastic.com/78MZA2VP4fJGwTMrexfZSj/icons.css" rel="stylesheet">

  </head>

  <body>

    <div id="app">
      <component-flashes
        error="<%= flash[:error] %>"
        success="<%= flash[:success] %>"
        notice="<%= flash[:notice] %>"
      >
      </component-flashes>

      <!-- TODO: Partial -->
      <div class="header">
          <div class="header__container">
              <div class="grid grid--center">
                  <div class="grid__cell grid__cell--50">
                    <div class="header__links header__links--left">
                      <% if !current_page?(root_path) %>
                        <a href="<%= root_path %>" class="button button--navigation"><i class="icon icon-back"></i> Back to folio</a>
                      <% end %>
                    </div>
                  </div>

                  <div class="grid__cell grid__cell--50">
                      <div class="header__links header__links--right">
                          <span class="header__connected-as">
                            <% if @user.role == 'anonymous' %>
                                Connected as anonymous
                            <% else %>
                                Connected as <%= @user.email %>
                            <% end %>
                          </span>
                          <a href="<%= settings_path %>" class="button button--navigation"><i class="icon icon-params"></i> Settings</a>
                          <a href="<%= support_us_path %>" class="button button--navigation"><i class="icon icon-diamond"></i> Support us</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application' %>

</html>
